<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.old_age_paradise">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Old_Age_Paradise"
        tools:targetApi="31">
        <activity
            android:name=".Admin_See_Orders"
            android:exported="false" />
        <activity
            android:name=".Admin"
            android:exported="false" />
        <activity
            android:name=".CheckAdmin"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Contact_us"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/edittext_border_zit" />
        <!--
<meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/edit_text_border" />
        -->
        <activity
            android:name=".food_choice"
            android:exported="false" />
        <activity
            android:name=".Request_Medical_Service"
            android:exported="false" />
        <activity
            android:name=".Feedbacks"
            android:exported="false" />
        <activity
            android:name=".Rate_Us"
            android:exported="false" />
        <activity
            android:name=".About_Us"
            android:exported="false" />
        <activity
            android:name=".Services"
            android:exported="false" />
        <activity
            android:name=".LogInActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        //add_farja

        <activity android:name=".NoNeedPhychiatrist" android:exported="false"/>
        <activity android:name=".ConsultPhysiatrist" android:exported="false"/>
        <activity android:name=".MedicalForm" android:exported="false"/>
        <activity android:name=".MentalHealthCare" android:exported="false" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        //end_farja
    </application>

</manifest>